# CODEOWNERS for the security branch

# These users are the default owners for everything in the repo.
* @sarwari-mallela
* @asaurasieu
* @papilioaureus
* @woonscode
* @11acc
* @smorenolasa1 
* @panchomb
* @clorenzol 
* @riyadmazari 

# For the security branch specifically
/security/* @asaurasieu @papilioaureus
